@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
  display: flex;
}
.loader-container {
  width: 100vw;
  height: 105vh;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.text-wrapper p {
  font-size: 7rem;
  text-align: center;
  color: white;
  margin: 0;
  line-height: 0;

  &:nth-of-type(4) {
    color: #bcedf6;
  }
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: "Rubik", sans-serif;
}

p {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  margin-top: 10px;
}

#introBox {
  width: 60%;
  left: 20%;
  top: 250px;
}

.kopBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: fit-content;
}

.pictogram {
  width: 400px;
  margin-top: 40px;
}

#KopPagina {
  font-size: 40px;
  margin-bottom: 30px;
  color: #bcedf6;
}

#OnderKop {
  font-weight: light;
}

.philosophyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  left: 10%;
}
.philosophyBox h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #bcedf6;
}

.philosophyBox p {
  font-size: 22px;
  line-height: 40px;
}

#projectsBox {
  top: 300px;
  align-items: center;
}

#projectsBox h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #bcedf6;
}

#projectsBox a {
  margin: 40px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-decoration: none;
  width: 100%;
}
#projectsBox a h1 {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0);
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
#projectsBox a p {
  font-size: 22px;
  line-height: 40px;
}
#projectsBox a:hover {
  background-color: white;
  transition: 0.3s;
}
#projectsBox a:hover h1 {
  color: black;
  transition: 0.3s;
}
#projectsBox a:hover p {
  color: black;
  transition: 0.3s;
}
#contactBox {
  top: 400px;
  flex-direction: row;
}
#contactBox img {
  position: relative;
  width: 80px;
  margin: 20px 0px;
  align-items: end;
}
.hidden {
  position: relative;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  transform: translateX(0%);
  filter: blur(0px);
}
@media screen and (max-width: 800px) {
  .text-wrapper p {
    font-size: 3rem;
  }
  #introBox {
    width: 90%;
    left: 5%;
  }
  .kopBox {
    width: 90%;
  }

  .pictogram {
    width: 200px;
    margin-top: 20px;
  }

  #KopPagina {
    font-size: 30px;
    margin-bottom: 20px;
  }

  #OnderKop {
    font-size: 20px;
  }
  .philosophyBox {
    width: 100%;
    left: 0%;
    padding: 0px;
  }
  .philosophyBox h1 {
    font-size: 30px;
  }

  .philosophyBox p {
    font-size: 17px;
    line-height: 35px;
  }
  #projectsBox {
    top: 300px;
    align-items: center;
  }

  #projectsBox h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  #projectsBox a {
    margin: 30px 0px;
    width: 90%;
    background-color: #4848487d;
  }
  #projectsBox a h1 {
    font-size: 30px;
  }
  #projectsBox a p {
    font-size: 17px;
    line-height: 30px;
  }
}
